:root {
  --skin: #f6c09c;
  --dark-skin: #ec938a;
  --background: #ed4042;
  --red: #ed2860;
  --dark-red: #680524;
  --black: #00243a;
  --white: #fff;
}

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.head {
  width: 100px;
  height: 200px;
  background: var(--skin);
  border-radius: 50px;
  position: relative;
}

.forhead {
  width: 75px;
  height: 25px;
  background: var(--skin);
  position: absolute;
  top: 35px;
  right: 14px;
  z-index: 1;
}

.eye-left {
  width: 25px;
  height: 25px;
  background: var(--white);
  position: absolute;
  top: 50px;
  border-radius:50%;
  left: 25px;
}

.dot-eye-left {
  width: 4px;
  height: 4px;
  background: black;
  position: absolute;
  top: 63px;
  left: 35px;
  z-index: 1;
  border-radius: 50%;
}

.eye-right {
  width: 25px;
  height: 25px;
  background: var(--white);
  position: absolute;
  top: 50px;
  border-radius: 50%;
  right: 25px;
}

.dot-eye-right {
  width: 4px;
  height: 4px;
  background: black;
  position: absolute;
  top: 63px;
  left: 60px;
  z-index: 2;
  border-radius: 50%;
}

.nose {
  width: 30px;
  height: 30px;
  background-color: var(--skin);
  position: absolute;
  top: 75px;
  z-index: 3;
  left: 34px;
  border-radius:50%;
}

.beard {
  width: 100px;
  height: 115px;
  background: var(--black);
  position: absolute;
  top: 85px;
  border-radius: 33% 33% 45% 45% ;
  z-index: 2;
}

.mouth {
  width: 50px;
  height: 25px;
  background: var(--dark-red);
  position: relative;
  z-index: 2;
  top: 110px;
  left: 25px;
  border-radius: 60% / 0 0 100% 100%;
  overflow: hidden;
}

.teth {
  width: 40px;
  height: 7px;
  background: var(--white);
}

.tongue {
  width: 30px;
  height: 15px;
  background: var(--red);
  position: absolute;
  top: 10px;
  border-radius: 0 40%;
}

.bottom {
  width: 80px;
  height: 100px;
  background: var(--dark-skin);
  position: absolute;
  top: 115px;
  left: 10px;
  z-index: 1;
}
